<div class="div" *ngIf="Valor==='calidad/preguntas'">
    <iframe src="git "  title="Iframe Example"></iframe>
</div>

<div class="div" *ngIf="Valor=='calidad/productos'">
    <iframe src="http://10.1.20.84:1102/calidad/"  title="Iframe Example"></iframe>
</div>

<div class="div" *ngIf="Valor=='calidad/estados'">
    <iframe src="http://10.1.20.84:1102/calidad/"  title="Iframe Example"></iframe>

<div class="div" *ngIf="Valor=='calidad/revisionPar'">
    <iframe src="http://10.1.20.84:1102/calidad/" title="Iframe Example"></iframe>
</div>
                                                                                             
<div class="div" *ngIf="Valor=='calidad/preguntasProductos'">
    <iframe src="http://10.1.20.84:1102/calidad/" title="Iframe Example"></iframe>
</div>


<!-- <div class="div" >
<iframe src="{{ruta}}" height="100%" width="90%" title="Iframe Example"></iframe>
</div> -->