a{
    text-decoration: none;
    color:#4e4d4d
}
label{
    font-family:Arial, Helvetica, sans-serif;
    color: #707070;
    
}
.container-fluid{
    text-align: center;
    align-items: center;
    padding-left: auto;
    padding-top: auto;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}   

h2{
    color: black;
}


.card{
    padding:0.1rem 2rem 0.5rem 2rem;
    max-width: 40%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(51, 50, 50, 0.452);
    align-items: center;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1.2rem;
    border-radius: 30px;
}

.btn{
    border-radius: 50px;
    background-color: #dddddd !important;
}

.btn.btn-outline-success{
    color: #ffffff;
    margin-bottom: 2rem;
    border-color: none;
    background-color: #28a745 !important;
}

.form-control{
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2.5rem;
}



input{
    text-align: center;
    margin-top: 0.8rem;
    border-radius: 50px;
    border-color: 1px 1px 1px 1px rgba(128,128,128,0.7);
    box-shadow: 1px 1px 1px 1px rgba(128,128,128,0.7);
    font-size: 130%;
    padding-left: 2rem;
    padding-right: 2rem;

}

form{
    margin-bottom: 5rem;
}



::placeholder{
    font-size: 1.3rem;
    color: rgba(138, 137, 137, 0.383);
}


.titulo{
    color: #707070;
    margin-bottom: 24px;
}

.contenedorPass{
    position: relative;

}

#Eyes{
    position: absolute;
    display: block;
    bottom: .5rem;
    right: 3.5rem;
    cursor: pointer;
    z-index:999;
}


.opciones{
    display: flex;
}

.opciones > .btn-block{
    background-color: #DDDDDD !important;
    color: rgb(138, 137, 137) !important;
}

.btn-light{
    margin-left: 20px !important;
    margin-bottom: 20px !important;
    background-color:#DDDDDD !important;
}

