<app-login></app-login>

  
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content"  style="border-radius: 20px;">
              <div class="modal-header">
                 <h5 class="modal-title w-100 text-center"  id="exampleModalLabel"><strong>¿Ha olvidado su contraseña?</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- <form> -->

                    <form #f="ngForm" (ngSubmit)="onSendEmail()" novalidate>
                        <div class="form-group text-center">
                            <label class="text-info">Te enviaremos un correo para recuperar la contraseña</label>
                            <br>
                            <input type="text" name="mailTo" id="mailTo" class="form-control text-center"
                                [(ngModel)]="mailTo" placeholder="Ingrese login o email" required>
                        </div>
                       <br>
                        <div class="form-group text-center">
                            <button class="btn btn-outline-success " [disabled]="!f.valid" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-check-fill" viewBox="0 0 16 16">
                                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z"/>
                                    <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
                                  </svg> Enviar Correo</button>
                        </div>
                    </form>
        
                  <!-- <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Escriba el número de identificación cédula o Nit con el cual se encuentra registrado. 
                      El sistema le envirá los datos que tiene registrado en el sistema.</label>
                    <input type="email" class="form-control" id="recipient-name" placeholder="correo.ada@ada.com">
                  </div>
                  
                </form> -->
              </div>
              <!-- <div class="modal-footer " id="trans">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                <button type="button" (click)="EnvioMensaje()" class="btn btn-primary">Enviar</button>
              </div> -->
            </div>
          </div>
        </div> 
        
        

  







